node_modules
dist
frontend-panel/dist
frontend-panel/node_modules

# Sesiones del bot
Sessions/
sessions/
*.session
*.session-journal

# Base de datos local
database.json

# Archivos temporales
tmp/
temp/
*.tmp

# Logs
*.log
logs/

# IDE y editores
.vscode/
.idea/
*.swp
*.swo
*~
frontend-next/package-lock.json
